<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Wonder Woman</title>
</head>

<body>
    <div class="row">
        <!--Starting Row3-->
        <div class="column main" id="Comic3">
            <h2>WONDER WOMAN</h2>
            <p>This bombastic adventure comes from the new creative team of writers Becky Cloonan and Michael W. Conrad (DC Future State: Immortal Wonder Woman) and artist Travis Moore (Nightwing)! In the backup story, the world may know her as Wonder Woman,
                but once upon a time she was just Diana of Themyscira, a young girl struggling through adolescence on the shores of a mysterious island. Brought to you by Eisner Award winner Jordie Bellaire and fan-favorite artist Paul Ganucheau, this
                new backup story will present an intimate look into the princess’s upbringing and the hidden secrets of her past.</p>
        </div>
        <div class="column photo">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ba8d6b24-8e5f-4939-a4bf-0752491f50c0/den7azd-9fe49912-32cf-4da2-b54c-79d5185efa1a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2JhOGQ2YjI0LThlNWYtNDkzOS1hNGJmLTA3NTI0OTFmNTBjMFwvZGVuN2F6ZC05ZmU0OTkxMi0zMmNmLTRkYTItYjU0Yy03OWQ1MTg1ZWZhMWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.EYXMyfJjAcOZ__Ytsz9dWaQeW3VADWD1zJqUySAnwzU"
            />
        </div>
    </div>
    <!--Ending Row3-->

</body>

</html>